@import '../../variables.scss';

.imageUploadContainer {
    background-color: $BgLight;
    border: 1px solid $Orange;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;

    .image {
        background-position: center;
        background-size: cover;
        background-color: $BgRegular;
        height: 128px;
        width: 128px;
        border-radius: 50%;
    }
}

.rangeContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    .inputBox {
        border: 1px solid $GreyLight;
        border-radius: 8px;
        width: 70px;
    }
    .slider {
        flex-grow: 1;
        margin-left: 20px;
    }
}
.rangeEndPointsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 500;
    color: $Brown;
    .rangeEndPointMin {
        text-align: left;
    }
    .rangeEndPointMax {
        text-align: right;
    }
}