@import './../../variables.scss';

.projectOverview {
    background-color: $White;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    height: 380px;
    padding: 2rem 1.5rem;
    &:hover {
        cursor: pointer;
        box-shadow: none;
    }
    &.finished {
        background-color: ($White, 0.5);
    }
    .title {
        font-size: 1.5rem;
        font-weight: 800;
    }
    .image {
        height: 150px;
        background-position: center;
        background-size: cover;
        margin-top: 15px;
    }
    .imageFinished {
        height: 150px;
        background-position: center;
        background-size: cover;
        margin-top: 15px;
        filter: grayscale(100%);
    }
    .desc {
        font-size: 0.75rem;
        margin-top: 10px;
        font-weight: 400;
        color: $GreyDark;
        line-height: 1rem;
        max-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        .status {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            .label {
                font-size: 0.75rem;
                color: $GreyDark;
                font-weight: 400;
            }
            .value {
                font-size: 0.75rem;
                color: $Black;
                font-weight: 600;
                margin-left: 10px;
            }
        }
    }
}

.stakeholder {
    height: 54px;
    background-color: $White;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .profilePicture {
        height: 36px;
        width: 36px;
        background-size: cover;
    }
    .infoContainer {
        margin-left: 10px;
        .name {
            font-size: 0.85rem;
            font-weight: 600;
        }
        .role {
            font-size: 0.75rem;
            font-weight: 500;
            color: $Orange;
        }
    }
}

.tier {
    &.active {
        border: 1px solid $Orange;
    }

    .title {
        font-size: 1.25rem;
        font-weight: 600;
    }
    .headerContainer {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 800;
    }

    background-color: $White;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    min-height: 500px;
    width: 100%;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    .leftContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        border-right: 1px solid $GreyLight;
        padding-right: 40px;

        .chartContainer {
            .labelsContainer {
                margin-top: 2rem;
                .labelItemContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    .color {
                        background: $Grey;
                        height: 0.75rem;
                        width: 0.75rem;
                    }
                    .name {
                        margin-left: 10px;
                        font-size: 0.75rem;
                        color: $GreyDark;
                    }
                }
            }
        }
        .inputContainer {
            .inputItem {
                padding-top: 20px;
            }
        }
        .titleContainer {
            .status {
                color: $Black;
                font-size: 0.75rem;
                font-weight: 400;
                .value {
                    color: $Red;
                }
            }
        }
        .dataContainer {
            .revenueContainer {
                margin: 1.5rem 0rem;
                .label {
                    font-size: 1rem;
                    font-weight: 400;
                    color: $GreyDark;
                }
                .value {
                    font-size: 1.75rem;
                    color: $Red;
                    font-weight: 500;
                }
            }
        }
    }
    .stakeholdersContainer {
        .title {
            font-size: 1.5rem;
            font-weight: 700;
            color: $Black;
        }
        .item {
            border-bottom: 1px solid $GreyLight;
            padding: 1rem 0rem;
            .selectButton {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                height: 100%;
                &:hover {
                    cursor: pointer;
                }
                .text {
                    font-size: 0.85rem;
                    font-weight: 600;
                    color: $Black;
                    margin-left: 5px;
                }
            }
            .shareContainer {
                text-align: right;
                .label {
                    font-size: 0.75rem;
                    font-weight: 400;
                    color: $GreyDark;
                }
                .value {
                    font-size: 1.25rem;
                    color: $Blue;
                    font-weight: 600;
                }
            }
            .revenueContainer {
                text-align: right;
                .label {
                    font-size: 0.75rem;
                    font-weight: 400;
                    color: $GreyDark;
                }
                .value {
                    font-size: 1.25rem;
                    color: $Red;
                    font-weight: 600;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .footer {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid $GreyLight;
        margin: 30px 0px;
        .revenueContainer {
            .label {
                font-size: 0.75rem;
                font-weight: 500;
                color: $GreyDark;
            }
            .value {
                font-weight: 600;
                color: $Red;
                font-size: 1.5rem;
            }
        }
        .footnote {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            .message {
                margin-bottom: 10px;
                text-align: right;
                font-size: 0.85rem;
                color: $GreyDark;
                font-weight: 400;
            }
        }
    }
}