@import '../variables.scss';

.projectDetailedPage {
    .projectDetailedContainer {
        padding: 3rem 0rem;
        border-bottom: 1px solid $BgRegular;
        .image {
            background-position: center;
            background-size: cover;
            height: 400px;
        }
        .title {
            font-size: 2rem;
            font-weight: 700;
            color: $Black;
        }
        .statusContainer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            margin-top: 5px;
            .label {
                color: $GreyDark;
                font-size: 0.75rem;
                font-weight: 400;
            }
            .value {
                color: $Red;
                font-size: 0.85rem;
                font-weight: 700;
                margin-left: 5px;
            }
        }
        .desc {
            font-size: 0.85rem;
            color: $GreyDark;
            font-weight: 400;
            margin-top: 20px;
        }
        .stakeholders {
            margin-top: 25px;
            .title {
                font-size: 1rem;
                font-weight: 700;
                color: $Black;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .stakeholderItemContainer {
                margin-bottom: 20px;
            }
        }
    }
    .contractContainer {
        padding: 2rem 0rem;
        .menu {
            margin-bottom: 2rem;
            .titleContainer {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 25px;
                .title {
                    font-size: 1.25rem;
                    font-weight: 500;
                    margin-left: 10px;
                }
            }
            .buttonsContainer {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                .item {
                    margin-left: 10px;
                    .publishedData {
                        font-size: 0.75rem;
                        font-weight: 400;
                        color: $GreyDark;
                    }
                }
            }
        }
        .contracts {
            .item {
                margin-bottom: 25px;
            }
        }
        .contractBuilder {
            .tiersContainer {
                .item {
                    margin-bottom: 20px;
                }
            }
        }
        .emptyMessageContainer {
            padding: 5rem 0rem;
            text-align: center;
            .title {
                font-size: 1rem;
                color: $Black;
                font-weight: 600;
                margin-top: 20px;
            }
            .desc {
                font-size: 0.75rem;
                font-weight: 400;
                margin-top: 5px;
                color: $GreyDark;
                margin-bottom: 20px;
            }
        }
    }
}