@import './variables.scss';

.library {
    height: 900px;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
    .componentContainer {
        padding: 2rem 0rem;
        .title {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        .itemContainer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 20px;
            width: 100%;
            .item {
                margin-right: 10px;
            }
        }
    }
}

.mrTop {
    margin-top: 30px;
}